<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"mode="md">

  <ion-card color="dark">
    <ion-card-header>
       
      <ion-card-subtitle>titulo  </ion-card-subtitle>
      <img src="https://ionicframework.com/docs/assets/icons/feature-component-actionsheet-icon.png">
      <ion-card-title>sinópse</ion-card-title>
      <p>olalisjbç\jsdbvl\jdvçj\bsdpvçu\bsçdvkjb\piuvbçk\jvodiubpsdfuibpsdfuibvpsiudfbvpisudbfviusdbvpiufbvisubvifub</p>

      <ion-item>
          <ion-label>filme 1</ion-label> 
          <ion-icon slot="start" name="person-circle-outline"></ion-icon>
        </ion-item>
<ion-list>
 <ion-item>
   <ion-label>filme 2</ion-label>
        <ion-input type="start" placeholder="deixe o seu comentario"></ion-input>
        <ion-icon slot="start" name="chatbubble-ellipses-outline"></ion-icon>
</ion-item> 
</ion-list>
    </ion-card-header>
   
    <ion-card-content>
      03/02/2021
    </ion-card-content>
  </ion-card>
</ion-content>
